{% extends "_base.html" %}
{% block title %}{{ post.title }}{% endblock title %}
{% block content %}
    <h1>{{ post.title }}</h1>
    <p>Post date {{ post.post_date|date:"M d, Y" }}</p>
    <p>Author: <a href="{% url 'author-detail' post.author.pk %}">{{ post.author.user.username }}</a></p>
    <p>Description:</p>
    <p>{{ post.description }}</p>

    <h2>Comments</h2>
    {% for comment in post.comments.all %}
        <p>{{ comment.author.username }} {{ comment.body }}</p>
    {% empty %}
        <p>No comments yet.</p>
    {% endfor %}
    <a href="{% url 'create-comment' post.pk %}">Add comment</a>


{% endblock content %}
